<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista de Preguntas</h1>
        </div>
    </div>

    <div class="row">
        <table _ngcontent-c3="" class="table table-condensed">
            <thead _ngcontent-c3="">

                <tr _ngcontent-c3="">
                    <th _ngcontent-c3="" style="width: 7%;">Id</th>
                    <th _ngcontent-c3="" style="width: 7%;">Titulo</th>
                    <th _ngcontent-c3="" style="width: 25%;">Categoría</th>
                    <th _ngcontent-c3="" style="width: 25%;">Incluida</th>
                    <th _ngcontent-c3="" style="width: 50%;">Modo</th>
                    <th _ngcontent-c3=""></th>
                    <th _ngcontent-c3=""></th>
                    <th _ngcontent-c3=""></th>

                    <th _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-small btn-success">
                            <a style="color: white;" href="formulario.html"><i _ngcontent-c3=""
                                    class="fa fa-gamepad"></i>&nbsp;Nuevo</a>
                        </button>
                    </th>
                </tr>
            </thead>

            <tbody _ngcontent-c3="">
                <td _ngcontent-c3="" style="width: 7%;vertical-align:middle;"></td>
                <td _ngcontent-c3="" style="width: 10%; vertical-align:middle; color: gray"></td>
                <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                <!-- <label  class="switch">
        <input type="checkbox" checked="checked">
        <span  class="slider round"></span>
      </label> -->
                <!-- </td> -->
                <td _ngcontent-c3="">

                </td>
                <td _ngcontent-c3="">

                    <form method="get" action="formulario.html">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                            <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                        </button>
                    </form>
                </td>
                <td _ngcontent-c3="">

                    <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                            class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                </td>

                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>

                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
                <tr _ngcontent-c3="" style="min-height: 64px;">
                    <td _ngcontent-c3="" style="width: 7%;"></td>
                    <td _ngcontent-c3="" style="width: 30%; vertical-align:middle; color: gray"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align:middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; vertical-align: middle;"></td>
                    <td _ngcontent-c3="" style="width: 10%; text-align: center"></td>
                    <!-- <label _ngcontent-c3="" class="switch">
        <input _ngcontent-c3="" type="checkbox">
        <span _ngcontent-c3="" class="slider round"></span>
      </label> -->

                    <td _ngcontent-c3=""></td>
                    <td _ngcontent-c3="">
                        <form method="get" action="formulario.html">
                            <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: #0d5db8; color: white;" type="submit">
                                <i _ngcontent-c3="" class="fa fa-edit"></i>&nbsp;Editar
                            </button>
                        </form>
                    </td>
                    <td _ngcontent-c3="">
                        <button _ngcontent-c3="" class="btn btn-default pull-right" style="background-color: rgb(188, 5, 5); color: white;" type="button"><i _ngcontent-c3=""
                                class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
