<app-navegacion></app-navegacion>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:#1a85ce;text-align:center;font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;">Ranking</h1>
            </div>
        </div>

        <!-- TABLA RANKING -->

  
            <div class="col-lg-6" style="width: 100%;">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>1.carmen</td>                             
                                </tr>
                                <tr>
                                    <td>2.carmen</td>                             
                                </tr>  
                                <tr>
                                    <td>3.carmen</td>                             
                                </tr>                       
                            </table>
                        </div>
                    </div>
                </div>
            </div>
     

        <!--BOTON SALIR-->
        <div class="form-group" style="text-align:center;position:reltive;">
            <button type="submit" class="btn btn-primary">Salir</button>
        </div>
        <!-- /.botonSalir -->
  