<div id="container" class="position-absolute text-center">
  <h1 class="mt-4">PESO CEREBRO</h1>
  <h4 class="my-3">El peso de tu cerebro es de: </h4>
  <div class="position-relative">
    <img src="/assets/img/pesocerebro.png" alt="cerebro" class="w-75">
    <div class="pesoCerebro">2000g</div>
  </div>

  <p class="text-success mt-4 h5">¡MUY BIEN! Tu cerebro es muy gordo. Sigue así, entrena para poder mantener ese peso.</p>
  <div class="footer">
    <button class="btn btn-lg bg-color-main text-white mb-4" [routerLink]="['/inicio']">Salir</button>
  </div>
</div>
