<div id="container" class="position-absolute text-center">
  <h1 class="mt-4">PESO CEREBRO</h1>
  <div class="position-relative">
    <img src="/assets/img/pesocerebro.png" alt="cerebro" class="w-75">
    <div class="pesoCerebro"><p class="mb-5">{{puntuacion}}g</p></div>
    <p class="pesoMaximo">{{puntuacionMax}}g</p>
  </div>

  <p id="frase" class="mt-4 h5">{{frase}}</p>
  <div class="footer">
    <div class="row mx-2">
      <button class="btn btn-lg bg-color-main text-white mb-4 col-4 offset-4" (click)="salir()">Salir</button>
    </div>

  </div>
</div>
