<div class="row w-100 ml-0 bg-color-main">
  <div class="col-8 header">
      <p class="ml-3 pt-3 text-white">{{usuario}}</p>
  </div>
  <div class="col-3">
    <button class="puntuacion btn bg-white text-color-main mt-1 mb-1">{{puntuacion}}g</button>
  </div>
</div>

<div class="text-center">
  <h5 class="mt-4 d-flex justify-content-center">
    <p class="mx-3">{{pregunta.pregunta}}</p>
  </h5>
  <div *ngIf="esCorrecta() else Incorrecta">
    <img src="assets/img/correcto.jpg" alt="acierto" class="w-50">
    <h2 class="text-success">¡CORRECTO!</h2>
    <textarea rows="4" [(ngModel)]="pregunta.explicacion" disabled="true" class="form-control border border-success text-success"></textarea>
  </div>
  <ng-template #Incorrecta>
    <div>
      <img src="assets/img/incorrecto.jpg" alt="fallo" class="w-50">
      <h2 class="text-danger">¡INCORRECTO!</h2>
      <textarea rows="4" [(ngModel)]="pregunta.explicacion" disabled="true" class="form-control border border-danger text-danger"></textarea>
    </div>
  </ng-template>

  <div class="row mt-5 w-100 ml-0" *ngIf="!esUltimaPregunta() else elseBlock">
    <button class="btn bg-color-main text-white col-6 offset-3" (click)="pasarPregunta()" [routerLink]="['/pregunta']">Siguiente Pregunta</button>
  </div>
  <ng-template #elseBlock>
    <div class="row mt-5 w-100 ml-0">
      <button class="btn bg-color-main text-white col-6 offset-3" (click)="mandarPuntuacion()" [routerLink]="['/resultado']">Finalizar</button>
    </div>

  </ng-template>

</div>
