.button, .button-tutorial{
  background-color: var(--main-color);
}

.button{
  height: 100px;
}

@media only screen and (max-device-width: 340px){
  .modo-juego{
    font-size: 10px;
  }

  .button{
    height: 60px;
  }
}
