<app-navegacion></app-navegacion>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" *ngIf="!pregunta._id else editarPregunta">Crear Pregunta</h1>
                <ng-template #editarPregunta>
                  <h1 class="page-header">Editar Pregunta</h1>
                </ng-template>
            </div>
        </div>

        <!--PANEL FORMULARIO-->
        <div class="row">
            <div class="col-md-10 col-lg-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>Formulario</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" #preguntaForm="ngForm">
                            <div class="form-group">
                              <label for="pregunta" class="text-primary">Pregunta</label>
                              <input class="form-control" name="pregunta" [(ngModel)]="pregunta.pregunta" #preguntaVal="ngModel" maxlength="200" required>
                              <div class="alert alert-danger" *ngIf="preguntaVal.invalid && (preguntaVal.dirty || preguntaVal.touched)">
                                <div *ngIf="preguntaVal.errors.required">
                                  La pregunta es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="respuesta0" class="text-primary">Respuesta 1</label>
                                <input id="verdadera0" type="radio" style="margin-left: 10px;" name="verdadera" [value]=0 [(ngModel)]="preguntaCorrecta"  #verdaderaVal="ngModel" required>
                                <label for="verdadera" >Verdadera</label>
                                <input class="form-control" name="respuesta0" [(ngModel)]="pregunta.respuestas[0].respuesta" #respuesta0Val="ngModel" maxlength="42" required>
                                <div class="alert alert-danger" *ngIf="respuesta0Val.invalid && (respuesta0Val.dirty ||respuesta0Val.touched)">
                                  <div *ngIf="respuesta0Val.errors.required">
                                    La respuesta es requerida.
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="respuesta1" class="text-primary">Respuesta 2</label>
                              <input id="verdadera1" type="radio" style="margin-left: 10px;" name="verdadera" [value]=1 [(ngModel)]="preguntaCorrecta" #verdaderaVal="ngModel" required>
                              <label for="verdadera" >Verdadera</label>
                              <input class="form-control" name="respuesta1" [(ngModel)]="pregunta.respuestas[1].respuesta" #respuesta1Val="ngModel" maxlength="42" required>
                              <div class="alert alert-danger" *ngIf="respuesta1Val.invalid && (respuesta1Val.dirty ||respuesta1Val.touched)">
                                <div *ngIf="respuesta1Val.errors.required">
                                  La respuesta es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="respuesta2" class="text-primary">Respuesta 3</label>
                              <input id="verdadera2" type="radio" style="margin-left: 10px;" name="verdadera" [value]=2 [(ngModel)]="preguntaCorrecta" #verdaderaVal="ngModel" required>
                              <label for="verdadera" >Verdadera</label>
                              <input class="form-control" name="respuesta2" [(ngModel)]="pregunta.respuestas[2].respuesta" #respuesta2Val="ngModel" maxlength="42" required>
                              <div class="alert alert-danger" *ngIf="respuesta2Val.invalid && (respuesta2Val.dirty ||respuesta2Val.touched)">
                                <div *ngIf="respuesta2Val.errors.required">
                                  La respuesta es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="respuesta3" class="text-primary">Respuesta 4</label>
                              <input id="verdadera3" type="radio" style="margin-left: 10px;" name="verdadera" [value]=3 [(ngModel)]="preguntaCorrecta" #verdaderaVal="ngModel" required>
                              <label for="verdadera" >Verdadera</label>
                              <input class="form-control" name="respuesta3" [(ngModel)]="pregunta.respuestas[3].respuesta" #respuesta3Val="ngModel" maxlength="42" required>
                              <div class="alert alert-danger" *ngIf="respuesta3Val.invalid && (respuesta3Val.dirty ||respuesta3Val.touched)">
                                <div *ngIf="respuesta3Val.errors.required">
                                  La respuesta es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="explicacion" class="text-primary">Explicación de la Respuesta</label>
                              <input class="form-control" name="explicacion" [(ngModel)]="pregunta.explicacion" #explicacionVal="ngModel" required>
                              <div class="alert alert-danger" *ngIf="explicacionVal.invalid && (explicacionVal.dirty ||explicacionVal.touched)">
                                <div *ngIf="explicacionVal.errors.required">
                                  La explicacion es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="pista" class="text-primary">Pista</label>
                              <input class="form-control" name="pista" [(ngModel)]="pregunta.pista" #pistaVal="ngModel" required>
                              <div class="alert alert-danger" *ngIf="pistaVal.invalid && (pistaVal.dirty ||pistaVal.touched)">
                                <div *ngIf="pistaVal.errors.required">
                                  La pista es requerida.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="modo" class="text-primary">Modo</label>
                                <select name="modo" class="form-control"  [(ngModel)]="pregunta.modo" #modoVal="ngModel" required>
                                    <option value="Fácil">Fácil</option>
                                    <option value="Difícil">Difícil</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="modoVal.invalid && (modoVal.dirty ||modoVal.touched)">
                                  <div *ngIf="modoVal.errors.required">
                                    El modo es requerido.
                                  </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
                <!-- /.panelFormulario -->
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="verdaderaVal.invalid">
          <div *ngIf="verdaderaVal.errors.required">
            Es necesario seleccionar una respuesta como verdadera.
          </div>
        </div>
        <!--BOTON GUARDAR Y CANCELAR-->
        <div class="form-group">
            <!-- /.botonCancelar -->
            <button class="btn text-primary" type="submit" [routerLink]="['/preguntas']">
              <i class="glyphicon glyphicon-ban-circle"></i> Cancelar
            </button>
            <!-- /.botonGuardar -->
            <button class="btn btn-primary" type="submit" (click)="crearPregunta()" [disabled]="!preguntaForm.form.valid" *ngIf="!pregunta._id else buttonEditar">
              <i class="fa fa-save"></i> Crear
            </button>
            <ng-template #buttonEditar>
              <button class="btn btn-primary" type="submit" (click)="updatePregunta()" [disabled]="!preguntaForm.form.valid">
                <i class="fa fa-save"></i> Editar
              </button>
            </ng-template>

        </div>


    </div>
