<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Cientillonario</p>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!--BARRA NAVEGACION ARRIBA DERECHA (USER) -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="preguntas.html"><i class="fa fa-th-list"></i>  Preguntas </a>
                    </li>
                    <li>
                        <a href="ajustes.html"><i class="glyphicon glyphicon-cog"></i>  Ajustes de Juego </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-info-circle"></i>  Manual de Juego </a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Editar</h1>
            </div>
        </div>

        <!--PANEL FORMULARIO-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Formulario</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <p class="text-primary">Pregunta</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Respuesta Verdadera</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Respuesta Falsa</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Respuesta Falsa</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Respuesta Falsa</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Explicación de la Respuesta</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Pista</p>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Modo</p>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Fácil</option>
                                                <option>Difícil</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-primary">Categoría</p>
                                        <select class="form-control">
                                            <option>categoria1</option>
                                            <option>categoria2</option>
                                            <option>categoria3</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.panelFormulario -->
            </div>
        </div>

        <!--BOTON GUARDAR Y CANCELAR-->
        <div class="form-group">
            <button class="btn btn-default" type="submit">
                   <a href="preguntas.html" style="color:  #2e86c1  "><i _ngcontent-c3="" class="glyphicon glyphicon-ban-circle"></i> Cancelar</a>
            </button>
            <button class="btn btn-primary" type="submit">
                    <a href="preguntas.html" style="color:white"><i _ngcontent-c3="" class="fa fa-save"></i> Guardar</a>
            </button>
        </div>
        <!-- /.botonGuardarCancelar -->

    </div>
</div>
