<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <img src="/assets/img/logo.png" class="imgcenter">
                </div>
                <div>
                    <form role="form">
                        <fieldset class="contenedor">
                            <div class="contenedorPrincipal">
                                <p class="cuadroTexto"><input class="box-blue1" placeholder="E-mail" name="email" type="email"></p>
                                <p class="cuadroTexto"><input class="box-blue2" placeholder="Contraseña" name="contraseña" type="password"></p>
                            </div>
                            <div class="rememberMe">
                                <label>
                                    <input  name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>

                            <button class="button">Login</button>
                            <!-- <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a> -->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
