<app-navegacion></app-navegacion>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ajustes</h1>
            </div>
        </div>

        <form name="ajustesForm" role="form" #ajustesForm="ngForm">
          <div class="row">
              <!--PANEL TIEMPO PREGUNTA-->
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong> Tiempo por Pregunta </strong>
                      </div>
                      <div class="panel-body">
                          <p class="text-primary">Seleccione el tiempo que desea para cada pregunta: </p>
                          <div class="form-group">
                              <input type="number" class="form-control" name="tiempo" [(ngModel)]="ajustes.tiempo" #tiempoVal="ngModel" min="10" max="50" required pattern="[1-5][0-9]">
                              <div class="alert alert-danger" *ngIf="tiempoVal.invalid && (tiempoVal.dirty || tiempoVal.touched)">
                                <div *ngIf="tiempoVal.errors.required">
                                  El tiempo es requerido.
                                </div>
                                <div *ngIf="tiempoVal.errors.pattern">
                                  El tiempo debe estar entre 10 y 50.
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.panelTiempo -->

              <!--PANEL MODO JUEGO-->
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong> Modo de Juego </strong>
                      </div>
                      <div class="panel-body">
                          <p class="text-primary">Seleccione el modo de juego que desea: </p>
                          <div class="form-group">
                              <select class="form-control" name="modo" [(ngModel)]="ajustes.modo" #modoVal="ngModel" required>
                                  <option value="Arcade">Arcade</option>
                                  <option value="Survival">Survival</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="modoVal.invalid && (modoVal.dirty || modoVal.touched)">
                                <div *ngIf="modoVal.errors.required">
                                  El modo es requerido.
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.panelModo -->

              <!--PANEL DIFICULTAD-->
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong> Dificultad del Juego </strong>
                      </div>
                      <div class="panel-body">
                          <p class="text-primary">Seleccione la dificultad de juego que desea: </p>
                          <div class="form-group">
                              <select class="form-control" name="dificultad" [(ngModel)]="ajustes.dificultad" #dificultadVal="ngModel" required (change)="cambioDificultad()">
                                  <option value="Fácil">Fácil</option>
                                  <option value="Difícil">Difícil</option>
                                  <option value="Ambas">Ambas</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="dificultadVal.invalid && (dificultadVal.dirty || dificultadVal.touched)">
                                <div *ngIf="dificultadVal.errors.required">
                                  La dificutlad es requerida.
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.panelDificultad -->
        </form>

        <!-- PANEL LISTADO PREGUNTAS -->

        <div class="row">
            <div class="col-lg-6" style="width: 100%;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Seleccionar Preguntas:  </strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th style="text-align: right;">Añadir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pregunta of preguntasFiltradas">
                                        <td>{{pregunta.pregunta}}</td>
                                        <td style="text-align: right;">
                                            <button class="btn btn-sm btn-success" *ngIf="!incluida(pregunta._id) else noIncluida" (click)="addPregunta(pregunta._id)">Añadir</button>
                                            <ng-template #noIncluida>
                                              <button class="btn btn-sm btn-danger" (click)="deletePregunta(pregunta._id)">Eliminar</button>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="ajustes.preguntas.length<5">
          <div>
            Es necesario seleccionar mínimo 5 preguntas.
          </div>
        </div>
        <!--BOTON GUARDAR-->
        <div class="form-group" style="text-align:center">
            <button type="submit" class="btn btn-primary"  (click)="guardarCambios()" [disabled]="!ajustesForm.form.valid || ajustes.preguntas.length<5">
            <i class="fa fa-save"></i>  Guardar Cambios
            </button>
        </div>
        <!-- /.botonGuardar -->
    </div>
