<app-navegacion></app-navegacion>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cuestionario</h1>
            </div>
        </div>

        <form name="cuestionarioForm" role="form" #cuestionarioForm="ngForm">
          <div class="row">

            <!--PANEL TITULO CUESTIONARIO-->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Titulo Cuestionario </strong>
                    </div>
                    <div class="panel-body">
                        <p class="text-primary">Seleccione el titulo deseado para el cuestionario: </p>
                        <div class="form-group">
                            <input type="text" class="form-control" name="titulo" [(ngModel)]="cuestionario.titulo" #tituloVal="ngModel" required>
                            <div class="alert alert-danger" *ngIf="tituloVal.invalid && (tituloVal.dirty || tituloVal.touched)">
                              <div *ngIf="tituloVal.errors.required">
                                El titulo es requerido.
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panelTitulo -->

              <!--PANEL TIEMPO PREGUNTA-->
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong> Tiempo por Pregunta </strong>
                      </div>
                      <div class="panel-body">
                          <p class="text-primary">Seleccione el tiempo que desea para cada pregunta: </p>
                          <div class="form-group">
                              <input type="number" class="form-control" name="tiempo" [(ngModel)]="cuestionario.tiempo" #tiempoVal="ngModel" min="10" max="50" required pattern="[1-4][0-9]">
                              <div class="alert alert-danger" *ngIf="tiempoVal.invalid && (tiempoVal.dirty || tiempoVal.touched)">
                                <div *ngIf="tiempoVal.errors.required">
                                  El tiempo es requerido.
                                </div>
                                <div *ngIf="tiempoVal.errors.pattern">
                                  El tiempo debe estar entre 10 y 49.
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.panelTiempo -->

              <!--PANEL MODO JUEGO-->
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong> Modo de Juego </strong>
                      </div>
                      <div class="panel-body">
                          <p class="text-primary">Seleccione el modo de juego que desea: </p>
                          <div class="form-group">
                              <select class="form-control" name="modo" [(ngModel)]="cuestionario.modo" #modoVal="ngModel" required>
                                  <option value="Arcade">Arcade</option>
                                  <option value="Survival">Survival</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="modoVal.invalid && (modoVal.dirty || modoVal.touched)">
                                <div *ngIf="modoVal.errors.required">
                                  El modo es requerido.
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.panelModo -->

              <!--PANEL DIFICULTAD-->
              <div class="col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <strong> Dificultad del Juego </strong>
                      </div>
                      <div class="panel-body">
                          <p class="text-primary">Seleccione la dificultad de juego que desea: </p>
                          <div class="form-group">
                              <select class="form-control" name="dificultad" [(ngModel)]="cuestionario.dificultad" #dificultadVal="ngModel" required (change)="cambioDificultad()">
                                  <option value="Fácil">Fácil</option>
                                  <option value="Difícil">Difícil</option>
                                  <option value="Ambas">Ambas</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="dificultadVal.invalid && (dificultadVal.dirty || dificultadVal.touched)">
                                <div *ngIf="dificultadVal.errors.required">
                                  La dificutlad es requerida.
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.panelDificultad -->
        </form>

        <!-- PANEL LISTADO PREGUNTAS -->

        <div class="row">
            <div class="col-lg-6" style="width: 100%;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Seleccionar Preguntas:  </strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th style="text-align: right;">Añadir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pregunta of preguntasFiltradas">
                                        <td>{{pregunta.pregunta}}</td>
                                        <td style="text-align: right;">
                                            <button class="btn btn-sm btn-success" *ngIf="!incluida(pregunta._id) else noIncluida" (click)="addPregunta(pregunta._id)">Añadir</button>
                                            <ng-template #noIncluida>
                                              <button class="btn btn-sm btn-danger" (click)="deletePregunta(pregunta._id)">Eliminar</button>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="cuestionario.preguntas.length<5">
          <div>
            Es necesario seleccionar mínimo 5 preguntas.
          </div>
        </div>

        <!--BOTON GUARDAR Y CANCELAR-->
        <button class="btn btn-primary" type="submit" (click)="createCuestionario()" [disabled]="!cuestionarioForm.form.valid || cuestionario.preguntas.length<5" *ngIf="!cuestionario._id else buttonEditar">
          <i class="fa fa-save"></i> Crear
        </button>
        <ng-template #buttonEditar>
          <button class="btn btn-primary" type="submit" (click)="updateCuestionario()" [disabled]="!cuestionarioForm.form.valid">
            <i class="fa fa-save"></i> Editar
          </button>
        </ng-template>

        <!-- /.botonCancelar -->
        <button class="btn text-primary" type="submit" [routerLink]="['/preguntas']">
          <i class="glyphicon glyphicon-ban-circle"></i> Cancelar
        </button>
        <!-- /.botonGuardar -->
    </div>
